<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Use this key to specify the default search service that shows up when the application starts -->
		<add key="SearchTest.SPSQueryService.QueryService" value="http://servername/_vti_bin/search.asmx"/>
	</appSettings>
</configuration>
